@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@390&family=Indie+Flower&display=swap');

/* 
font-family: 'Comfortaa', cursive;
font-family: 'Indie Flower', cursive;
*/

/* 
colors
    #894DA5 Purpureus
    #BBBE64 Olive Green
    #06AED5 Cerulean Crayola
    #F05365 Fiery Rose
    #061826 Rich Black FOGRA 29
*/

body {
    background-color: #061826;
}

h1 {
    font-family: 'Comfortaa', cursive;
    transition: .5s;
}

h2 {
    font-family: 'Comfortaa', cursive;
    transition: .5s;
}

h3 {
    font-family: 'Comfortaa', cursive;
    transition: .5s;
}

p {
    font-family: 'Comfortaa', cursive;
    color: #061826;
}

.hi {
    animation: hi 1s linear 1 forwards;
    opacity: 0;
}

@keyframes hi {
    0% {color: #BBBE64; opacity: 0;}
    50% {color: #BBBE64; opacity: 1;}
    100% {color: white; opacity: 1;}
}

.iam {
    animation: iam 1s linear .5s 1 forwards;
    opacity: 0;
}

@keyframes iam {
    0% {color: #BBBE64; opacity: 0;}
    50% {color: #BBBE64; opacity: 1;}
    100% {color: white; opacity: 1;}
}

.mattwalsh {
    animation: mattwalsh 1s linear .5s 1 forwards;
    opacity: 0;
    transition: .5s;
}

.mattwalsh:hover {
    text-shadow: 2px 2px #BBBE64, 4px 4px #06AED5, 6px 6px #F05365;
}

@keyframes mattwalsh {
    0% {color: #BBBE64; opacity: 0;}
    50% {color: #BBBE64; opacity: 1;}
    100% {color: #894DA5; opacity: 1;}
}

.dotcom {
    font-family: 'Indie Flower', cursive;
    animation: dotcom 1s linear 1s 1 forwards;
    opacity: 0;
    transition: .5s;
}

@keyframes dotcom {
    0% {color: #F05365; opacity: 0;}
    50% {color: #F05365; opacity: 1;}
    100% {color: #F05365; opacity: 0;}
}

.ima {
    animation: ima 1s linear 1.5s 1 forwards;
    opacity: 0;
    color: white;
}

@keyframes ima {
    0% {color: #BBBE64; opacity: 0;}
    50% {color: #BBBE64; opacity: 1;}
    100% {color: white; opacity: 1;}
}

.fullstack {
    animation: fullstack 1s linear 1.5s 1 forwards;
    opacity: 0;
    transition: .5s;
}

.fullstack:hover {
    text-shadow: 1px 1px #BBBE64, 2px 2px #F05365, 3px 3px #894DA5;
}

@keyframes fullstack {
    0% {color: #BBBE64; opacity: 0;}
    50% {color: #BBBE64; opacity: 1;}
    100% {color: #06AED5; opacity: 1;}
}

.basedin {
    animation: basedin 1s linear 2s 1 forwards;
    opacity: 0;
    color: white;
}

@keyframes basedin {
    0% {color: #BBBE64; opacity: 0;}
    50% {color: #BBBE64; opacity: 1;}
    100% {color: white; opacity: 1;}
}

.portlandor {
    animation: portlandor 1s linear 2s 1 forwards;
    opacity: 0;
    transition: .5s;
}

.portlandor:hover {
    text-shadow: 1px 1px #BBBE64, 2px 2px #06AED5, 3px 3px #894DA5;
}

@keyframes portlandor {
    0% {color: #BBBE64; opacity: 0;}
    50% {color: #BBBE64; opacity: 1;}
    100% {color: #F05365; opacity: 1;}
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 8rem;
        margin: 20px 0px 20px 0px;
    }
    h2 {
        font-size: 4rem;
        margin: 20px 0px 20px 0px;
    }
    h3 {
        font-size: 2.5rem;
        margin: 20px 0px 20px 0px;
    }
    .dotcom {
        font-size: 2rem;
    }
    .skilllogo, image {
        width: 100px;
        height: 100px;
    }
    figcaption {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1440px) {
    h1 {
        font-size: 6rem;
        margin: 15px 0px 15px 0px;
    }
    h2 {
        font-size: 3rem;
        margin: 15px 0px 15px 0px;
    }
    h3 {
        font-size: 2rem;
        margin: 15px 0px 15px 0px;
    }
    .dotcom {
        font-size: 1.5rem;
    }
    .skilllogo, image {
        width: 100px;
        height: 100px;
    }
    figcaption {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 4rem;
        margin: 10px 0px 10px 0px;
    }
    h2 {
        font-size: 2rem;
        margin: 10px 0px 10px 0px;
    }
    h3 {
        font-size: 1.3rem;
        margin: 10px 0px 10px 0px;
    }
    .dotcom {
        font-size: 1rem;
    }
    .skilllogo, image {
        width: 50px;
        height: 50px;
    }
    figcaption {
        font-size: .5rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
        margin: 5px 0px 5px 0px;
    }
    h2 {
        font-size: 1.5rem;
        margin: 5px 0px 5px 0px;
    }
    h3 {
        font-size: 1rem;
        margin: 5px 0px 5px 0px;
    }
    .dotcom {
        font-size: .75rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
        margin: 5px 0px 5px 0px;
    }
    h2 {
        font-size: 1rem;
        margin: 5px 0px 5px 0px;
    }
    h3 {
        font-size: .75rem;
        margin: 5px 0px 5px 0px;
    }
    .dotcom {
        font-size: .75rem;
    }
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section  {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fullpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    margin: 20px;
}

.container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav {
    bottom: -1px;
    position: absolute;
    display: flex;
    flex-direction: row;
    font-family: 'Comfortaa', cursive;
    font-size: .75rem;
}

section:nth-child(1) nav {
    animation: nav .5s linear 2.5s 1 forwards;
    opacity: 0;
}

@keyframes nav {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    margin-bottom: 10px;
}

nav li a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    transition: .5s;
}

section:nth-child(1) {
    background: #061826;
}

section:nth-child(1) li a {
    color: #F05365;
}

section:nth-child(1) li a:hover, section:nth-child(1) .navcurrent {
    color: #061826;
    background: #F05365;
}

section:nth-child(2) {
    background: #F05365;
}

section:nth-child(2) li a {
    color: #BBBE64;
}

section:nth-child(2) li a:hover, section:nth-child(2) .navcurrent {
    color: #F05365;
    background: #BBBE64;
}

section:nth-child(3) {
    background: #BBBE64;
}

section:nth-child(3) li a {
    color: #894DA5;
}

section:nth-child(3) li a:hover, section:nth-child(3) .navcurrent {
    color: #BBBE64;
    background: #894DA5;
}

section:nth-child(4) {
    background: #894DA5;
}

section:nth-child(4) li a {
    color: #06AED5;
}

section:nth-child(4) li a:hover, section:nth-child(4) .navcurrent {
    color: #894DA5;
    background: #06AED5;
}

section:nth-child(5) {
    background: #06AED5;
}

section:nth-child(5) li a {
    color: #061826;
}

section:nth-child(5) li a:hover, section:nth-child(5) .navcurrent {
    color: #06AED5;
    background: #061826;
}

.centerholder {
    display: flex;
    justify-content: center;
}

#bio h1 {
    color: #894DA5;
    text-shadow: 2px 2px white, 4px 4px #BBBE64, 6px 6px #06AED5;
}

#bio em {
    color: white;
    font-style: normal;
    text-shadow: 1px 1px #BBBE64, 2px 2px #06AED5, 3px 3px #894DA5;
    margin-right: 2px;
}

#skills h2 {
    color: #F05365;
    text-shadow: 1px 1px white, 2px 2px #06AED5, 3px 3px #894DA5;
}

figcaption {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: white;
    transition: .5s;
}

#skills .centerholder {
    flex-wrap: wrap;
}

#skills figure:last-child {
    margin-bottom: 50px;
}

#skills svg {
    transition: .5s;
    filter: drop-shadow(0px 0px #BBBE64) grayscale(100%);
}

#skills svg:hover {
    filter: drop-shadow(5px 5px #894DA5) grayscale(0%);
}

.emailme {
    color: white;
    transition: .5s;
}

.email a {
    color: #894DA5;
    text-decoration: none;
    transition: .5s;
    text-shadow: 1px 1px white, 2px 2px #BBBE64, 3px 3px #F05365;
}

.email a:hover {
    color: #F05365;
    text-shadow: 1px 1px #BBBE64, 2px 2px #894DA5, 3px 3px #061826;
}

figure {
    transition: .5s;
    margin: 20px;
}

.skilllogo, image {
    transition: .5s;
}